In [1]:
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
import glob

In [3]:
# Initialize an empty DataFrame to append all the data
overall_df = pd.DataFrame()

# Iterate over all CSV files in the downloaded_csvs folder
for file_name in glob.glob('data/downloaded_csvs/*.csv'):
    # Read the current CSV file
    temp_df = pd.read_csv(file_name, header=None, names=['hour_number', 'price', 'to_drop'])
    # Extract date from the filename dynamically and prepend to the hour number
    date_str = file_name.split('_')[-1].split('.')[0]  # Extracts date from the filename
    temp_df['hour_number'] = date_str + '-' + temp_df['hour_number'].astype(str)
    # Append the current DataFrame to the overall DataFrame
    overall_df = pd.concat([overall_df, temp_df], ignore_index=True)

In [4]:
overall_df

      hour_number  price  to_drop
0      20240223-1  25.32  DSO-RD;
1      20240223-2  23.86  DSO-RD;
2      20240223-3  20.92  DSO-RD;
3      20240223-4  19.73  DSO-RD;
4      20240223-5  20.07  DSO-RD;
...           ...    ...      ...
2190  20240212-20  34.26  DSO-RD;
2191  20240212-21  42.97  DSO-RD;
2192  20240212-22  38.65  DSO-RD;
2193  20240212-23  29.44  DSO-RD;
2194  20240212-24  26.16  DSO-RD;

[2195 rows x 3 columns]

In [5]:
# Filter the data where hour number = 20230410-20
filtered_df_o = overall_df[overall_df['hour_number'] == '20240301-24']
filtered_df_o

     hour_number  price  to_drop
994  20240301-24  29.41  DSO-RD;

In [6]:
# Initialize an empty DataFrame to append all the weekly data
overall_weekly_df = pd.DataFrame()

# Iterate over all CSV files in the weekly_market folder
for file_name in glob.glob('data/weekly_market/*.csv'):
    # Read the current CSV file
    temp_weekly_df = pd.read_csv(file_name, header=None, names=['date', 'hour_number', 'demand', 'capacity'])
    # Remove the slash in the date and append the date to the hour number
    temp_weekly_df['date'] = temp_weekly_df['date'].str.replace('/', '')
    temp_weekly_df['hour_number'] = temp_weekly_df['date'] + '-' + temp_weekly_df['hour_number'].astype(str)
    # Drop the now redundant date column
    temp_weekly_df.drop(columns=['date'], inplace=True)
    # Append the current DataFrame to the overall weekly DataFrame
    overall_weekly_df = pd.concat([overall_weekly_df, temp_weekly_df], ignore_index=True)

In [7]:
# Filter the data where hour number = 20230410-20
filtered_df = overall_weekly_df[overall_weekly_df['hour_number'] == '20240301-24']
filtered_df

       hour_number  demand  capacity
15143  20240301-24   15020     26701
60093  20240301-24   15020     26701
62301  20240301-24   15020     26701
69764  20240301-24   15020     26701
71636  20240301-24   15020     26701
78955  20240301-24   15020     26701
81619  20240301-24   15020     26701

In [8]:
combined_df = pd.merge(overall_df, overall_weekly_df, on='hour_number')

In [9]:
combined_df

       hour_number  price  to_drop  demand  capacity
0       20240223-1  25.32  DSO-RD;   14740     24684
1       20240223-1  25.32  DSO-RD;   14740     24684
2       20240223-1  25.32  DSO-RD;   14740     24684
3       20240223-1  25.32  DSO-RD;   14740     24684
4       20240223-1  25.32  DSO-RD;   14740     24684
...            ...    ...      ...     ...       ...
14947  20240212-24  26.16  DSO-RD;   15942     24777
14948  20240212-24  26.16  DSO-RD;   15942     24777
14949  20240212-24  26.16  DSO-RD;   15942     24777
14950  20240212-24  26.16  DSO-RD;   15942     24777
14951  20240212-24  26.16  DSO-RD;   15942     24777

[14952 rows x 5 columns]

In [10]:
combined_df.drop_duplicates(subset='hour_number', keep='first', inplace=True)

In [11]:
combined_df = combined_df.sort_values(by='hour_number')
combined_df

      hour_number  price  to_drop  demand  capacity
1176   20231209-1  17.79  DSO-RD;   14149     27275
1239  20231209-10  28.20  DSO-RD;   15763     27715
1246  20231209-11  28.21  DSO-RD;   16098     28082
1253  20231209-12  28.21  DSO-RD;   16439     28077
1260  20231209-13  20.75  DSO-RD;   16583     28087
...           ...    ...      ...     ...       ...
4208   20240308-5  24.07  DSO-RD;   13672     25878
4210   20240308-6  24.09  DSO-RD;   14234     25637
4212   20240308-7  29.25  DSO-RD;   15511     24789
4214   20240308-8  27.65  DSO-RD;   16382     24575
4216   20240308-9  25.74  DSO-RD;   16060     24566

[2184 rows x 5 columns]

In [12]:
combined_df.to_csv('data/cleaned_data.csv', index=False)

In [55]:
saved_df = pd.read_csv('data/cleaned_data.csv')

In [56]:
saved_df

      hour_number  price  to_drop  demand  capacity
0      20231209-1  17.79  DSO-RD;   14149     27275
1     20231209-10  28.20  DSO-RD;   15763     27715
2     20231209-11  28.21  DSO-RD;   16098     28082
3     20231209-12  28.21  DSO-RD;   16439     28077
4     20231209-13  20.75  DSO-RD;   16583     28087
...           ...    ...      ...     ...       ...
2179   20240308-5  24.07  DSO-RD;   13672     25878
2180   20240308-6  24.09  DSO-RD;   14234     25637
2181   20240308-7  29.25  DSO-RD;   15511     24789
2182   20240308-8  27.65  DSO-RD;   16382     24575
2183   20240308-9  25.74  DSO-RD;   16060     24566

[2184 rows x 5 columns]

In [57]:
data = saved_df
# Adjust hour_number for '-24' cases to be the next day at hour 0
data['hour_number'] = data['hour_number'].apply(lambda x: (pd.to_datetime(x.split('-')[0], format='%Y%m%d') + pd.Timedelta(days=1)).strftime('%Y%m%d-0') if x.endswith('-24') else x)
data['hour_number_dec'] = pd.to_datetime(data['hour_number'], format='%Y%m%d-%H', errors='coerce')
data.drop(columns=['to_drop'], inplace=True)

data = data.sort_values(by='hour_number_dec')
data = data.set_index('hour_number_dec')

In [62]:
data[data['hour_number'] == '20231210-1']

                    hour_number  price  demand  capacity
hour_number_dec
2023-12-10 01:00:00  20231210-1  14.34   13485     25818

In [60]:
data[data['hour_number'].str.endswith('-24')]

Empty DataFrame
Columns: [hour_number, price, demand, capacity]
Index: []

In [63]:
data

                     hour_number  price  demand  capacity
hour_number_dec
2023-12-09 01:00:00   20231209-1  17.79   14149     27275
2023-12-09 02:00:00   20231209-2  14.34   13664     27333
2023-12-09 03:00:00   20231209-3  22.23   13325     27244
2023-12-09 04:00:00   20231209-4  17.85   13157     27133
2023-12-09 05:00:00   20231209-5  26.74   13242     26984
...                          ...    ...     ...       ...
2024-03-08 20:00:00  20240308-20  26.47   16761     25445
2024-03-08 21:00:00  20240308-21  24.19   16279     25990
2024-03-08 22:00:00  20240308-22  23.40   15620     26612
2024-03-08 23:00:00  20240308-23  23.10   14834     26954
2024-03-09 00:00:00   20240309-0  17.12   14019     27264

[2184 rows x 4 columns]

In [64]:
data.to_csv('data/cleaned_data_v2.csv', index=True)